<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong> Rule Engine List </strong>
                <div class="card-header-actions">
                    <button type="button" class="btn btn-sm btn-success" (click)="gotoAddRule()">
                        <i class="icon-plus"></i>&nbsp;Add</button>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-striped table-sm">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let rules of rulesList">
                            <td>{{rules.id}}</td>
                            <td>{{rules.name}}</td>
                            <td>{{rules.description}}</td>
                            <td>
                                <button type="button" class="btn btn-sm btn-warning" (click)="gotoRuleEdit(rules.id)"><i
                                        class="icon-pencil"></i>&nbsp;Edit</button>&nbsp;
                                <button type="button" class="btn btn-sm btn-danger"><i
                                        class="icon-trash"></i>&nbsp;Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--/.col-->
</div>
